<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >
        
        <import resource="classpath:DecoHero-controller.spring.xml"/>
        
        <!-- Transverse -->
        <bean id="encoder" class="com.jso.deco.service.utils.Encoder"/>
        <bean id="serviceResponseAdapter" class="com.jso.deco.service.adapter.ServiceResponseAdapter"/>

		<!-- User -->
        <bean id="userServiceValidator" class="com.jso.deco.service.user.UserServiceValidator"/>
        <bean id="userServiceAdapter" class="com.jso.deco.service.adapter.UserServiceAdapter">
        	<property name="encoder" ref="encoder" />
        </bean>

		<!-- Project -->
        <bean id="projectServiceValidator" class="com.jso.deco.service.project.ProjectServiceValidator"/>
</beans>